a
{
  text-decoration: none;
  color: #CCCCCC;
}

input
{
  background-color: #000000;
  border: 1px solid #cccccc;
  color: #CCCCCC;
  padding: 3px;
}

body
{
  font-size: 12px;
  font-family: Arial;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main
{
  text-align: center;
  width: auto;
  margin: 0 auto 0 auto;
}

.logo
{
  margin-top: 20px;
}

.login
{
  margin-top: 10px;
}

.games
{
  margin-top: 10px;
}

.games .type
{
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
}

.game, .logout
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  width: 140px;
  padding: 3px;
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
}

.chat
{
  right:20px;
  top:90px;
  position:absolute;
  background-color:#111;
  height:250px;
  width:350px;
  border-right-style:dashed;
  border-width:2px;
  border-left-style:dashed;
  border-width:2px
}

.chat_msgs
{
  height:250px;
}

.chat_msg
{
  background-color:#444;
}

.logout
{
  margin-top: 50px;
}

.game:hover a, .game:hover, .logout:hover, .logout:hover a
{
  background-color: #CCCCCC;
  color: black;
}

#player-control
{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

.button
{
  float: left;
  width: 65px;
  margin-left: 2px;
  margin-bottom: 4px;
  padding: 3px;
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
}

.button:hover a, .button:hover
{
  background-color: #CCCCCC;
  color: black;
}

.cards
{
  clear: both;
  border: 1px solid #CCCCCC;
  height: 80px;
  width: 550px;
  margin: 10px auto 10px auto;
}

.cash
{
  border: 1px solid green;
  float: right;
  margin-right: 150px;
  width: 50px;
  height: 50px;
  bottom: 30px;
  margin-bottom: 10px;
}

.pot
{
  border: 1px solid red;
  float: left;
  margin-left: 150px;
  width: 50px;
  height: 50px;
}

#table
{
  width: 600px;
  margin: 10px auto 10px auto;
}

#player
{
  position: absolute;
  right: 4px;
  top: 30px;
  width: 120px;
  text-align: center;
}

.leave
{
  position: absolute;
  right: 4px;
  top: 4px;
  width: 112px;
  margin-left: 2px;
  margin-bottom: 4px;
  padding: 3px;
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
}

.leave:hover a, .leave:hover
{
  background-color: #CCCCCC;
  color: black;
}